.click-spark-root {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.click-spark-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
  pointer-events: none;
}
